{% set companyLogo = config("Ceres.header.company_logo") %}
{% set lang = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName = config("Ceres.header.company_name") %}
{% set useMegaMenu = config("Ceres.header.megamenu_levels") > 1 %}

<div class="header__row">
  <a class="header__logo" href="/">
    <img src="https://ml-handel-shop.de/layout/ml-handel/img/company_logo.jpg"
  </a>
  <div class="header__item header__item--nav">
    <nav class="area-navigation">
      <a class="area-navigation__link" href="/">Produkte</a>
      <a class="area-navigation__link" href="/beratung/">
        Beratung
      </a>
      <a class="area-navigation__link" href="/geschenke/">
        Geschenkideen
      </a>
    </nav>
  </div>
  <div class="header__item header__item--user-nav">
    <nav class="user-navigation">
      <a class="user-navigation__item" href="#account">
        <div class="user-navigation__icon">
          <svg class="svg svg-person">
            <use xlink:href="http://www.babymarkt.de//bundles/babymarktfrontend/desktop-bm_de_de/svg/sprite.svg?20180524104518#person"></use>
          </svg>
        </div>
        Mein Konto
      </a>
      <a class="user-navigation__item" href="//www.babymarkt.de/index.php?cl=account_noticelist">
        <div class="user-navigation__icon">
          <svg class="svg svg-heart">
            <use xlink:href="http://www.babymarkt.de//bundles/babymarktfrontend/desktop-bm_de_de/svg/sprite.svg?20180524104518#heart"></use>
          </svg>
        </div>
        Wunschzettel
      </a>
      <a class="user-navigation__item" href="/warenkorb/">
        <div class="user-navigation__icon user-navigation__icon--blank">
          <svg class="svg svg-bag">
            <use xlink:href="http://www.babymarkt.de//bundles/babymarktfrontend/desktop-bm_de_de/svg/sprite.svg?20180524104518#bag"></use>
          </svg>
        </div>
        Warenkorb
      </a>
    </nav>
  </div>
</div>

<nav class="navbar{% if useMegaMenu %} megamenu{%endif%}">
  <div class="container-max">
    <div class="row">
      <div class="brand-wrapper" {% if showHeaderNavBar == "side" %} style="position: relative" {% endif %}>
        <!-- <a class="navbar-brand pull-lg-left" href="/"> {% if ('http' in companyLogo) or ('layout/' in companyLogo) %} <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid"/> {% else %} <img alt="{{ companyName }}" src="{{
        plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid"/> {% endif %} </a> -->

        <button id="btnMainMenuToggler" v-open-mobile-navigation="v-open-mobile-navigation" class="navbar-toggler hidden-lg-up" type="button">
          &#9776;
        </button>
      </div>

      <div id="mainNavbarCollapsable">
        <ul class="breadcrumb">
          <li class="btnClose"></li>
        </ul>
        {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
          {# includeCached('Ceres::PageDesign.Partials.Header.NavigationList.twig') #}
          {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
        {% endif %}
      </div>

    </div>
  </div>
</nav>
