{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">
  <div class="content">
    <div class="prefooter row">
      <div class="container text-center col-sm-12 col-xs-12">
        <h4>Einfaches und sicheres Zahlen</h4>

        <ul class="pay160614">
          <li class="paypal col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
          <li class="amazon col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
          <li class="klarna col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
          <li class="sofort col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
          <li class="mastercard col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
          <li class="visa col-sm-6 col-xs-6">
            <a href="/zahlung"></a>
          </li>
        </ul>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="h4 margin-top-05 text-center">Wir versenden mit</p>
          <ul class="image-list">
            <li>
              <img src="/layout/ml-handel/img/shipping_provider/dhl-logo.png" alt="DHL" title="" data-toggle="tooltip" data-placement="top" data-original-title="DHL">
            </li>
            <li>
              <img src="/layout/ml-handel/img/shipping_provider/dpd-logo.png" alt="DPD" title="" data-toggle="tooltip" data-placement="top" data-original-title="DPD">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="middlefooter">
    <div class="container">

      <div class="col-sm-6 col-md-8">
        <div class="col-sm-12 col-md-6 row" style="z-index:100">
          <h4>
            <a href="/service">Service</a>
          </h4>
          <ul class="small">
            <li class="mail">
              <a href="/service">info@mlhandel.de</a>
            </li>
            <li class="phone">123456789</li>
            <li class="noicon">(Mo. bis Fr. von 9 bis 17 Uhr)</li>
            <li>
              <a href="/service/shop">Lieferung und Versand</a>
            </li>
            <li>
              <a href="/service/retouren">Ware zurücksenden</a>
            </li>
            <li>
              <a href="/kontakt">Kontakt</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-6 row">
          <h4>Verpasse kein Schnäppchen!</h4>
          <p class="small">Unser Newsletter enthält Informationen und Angebote aus unserem Sortiment und ist jederzeit abbestellbar. Mehr in der
            <a href="/datenschutz" style="text-decoration:underline;">Datenschutzerklärung</a>.</p>
          <form class="footernl" method="get" action="//" name="ProfileForm"><input type="hidden" value="271512913" name="CID">
            <input type="hidden" value="" name="SID">
            <input type="hidden" value="" name="UID">
            <input type="hidden" value="7617" name="f">
            <input type="hidden" value="2" name="p">
            <input type="hidden" value="r" name="a">
            <input type="hidden" value="" name="el">
            <input type="hidden" value="" name="endlink">
            <input type="hidden" value="" name="llid">
            <input type="hidden" value="" name="c">
            <input type="hidden" value="" name="counted">
            <input type="hidden" value="" name="RID">
            <input type="hidden" value="" name="mailnow">

            <input name="inp_3" class="form-control" required="true" type="email" placeholder="E-Mail eingeben">
            <button type="submit" class="btn btn-primary">Los</button>
          </form>
        </div>

      </div>

      <div class="col-sm-6 col-md-4">
        <h4>Leistung</h4>
        <ul class="small">
          <li>
            <a href="https://www.trustedshops.de/bewertung/info_XA2EF864014A142CF9EDC2483FE556551.html">Zertifiziert</a>
          </li>
          <li>
            <a href="">Geld-Zurück-Garantie</a>
          </li>
          <li>
            <a href="/zahlung">Kauf auf Rechnung möglich</a>
          </li>
        </ul>
        <a class="trust160701" href=""></a>
      </div>

      <div class="col-sm-9 margin-top">* Preise inkl. MwSt. zzgl. Versand</div>
    </div>

  </div>
</div>

<div class="postfooter">
  <div class="container">
    <div class="col-sm-8 socials160613">
      <a href="">
        <span class="babicon babicon-facebook"></span>
      </a>
      <a href="">
        <span class="babicon babicon-google"></span>
      </a>
      <a href="">
        <span class="babicon babicon-twitter"></span>
      </a>
      <a href="">
        <span class="babicon babicon-wordpress"></span>
      </a>
      <a href="">
        <span class="babicon babicon-youtube"></span>
      </a>
      <a href="">
        <span class="babicon babicon-instagram"></span>
      </a>
      <a href="">
        <span class="babicon babicon-pinterest"></span>
      </a>
    </div>
    <div class="col-sm-4 text-right" style="font-weight:bold;">
      #ausliebe
    </div>
  </div>
</div>
</div>
{% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
<div class="copyright text-xs-center m-y-1">
<div class="static-link-list">
  {% autoescape false %}
    <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
    {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
      <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
    {% else %}
      <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
    {% endif %}
    <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
    <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
    <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
    {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
      <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
    {% endif %}
  {% endautoescape %}
</div>
<a rel="nofollow" href="https://www.plentymarkets.eu">
  <img alt="Plentymarkets GmbH Logo" class="svg plenty-brand" src="{{ plugin_path('Ceres') }}/images/plentymarkets-logo.svg" rel="nofollow">
</a>
<br>
<small>&copy; Copyright
  {{ "now" | date("Y") }}
  |
  {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
</div>
</div>
