{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">
  <div class="content">
    <div class="prefooter">
      <div class="container text-center">
        <h3>-Zahlungsarten und Versand-</h3>
        <ul class="pay160614">
          <li class="paypal">
            <a href="/information/zahlungsarten"></a>
          </li>
          <li class="amazon">
            <a href="/information/zahlungsarten"></a>
          </li>
          <li class="klarna">
            <a href="/information/zahlungsarten"></a>
          </li>
          <li class="vorkasse">
            <a href="/information/zahlungsarten"></a>
          </li>
          <li class="dhl">
            <a href="/versand"></a>
          </li>
          <li class="dpd">
            <a href="/versand"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="middlefooter">
      <div class="container">

        <div class="col-sm-6 col-md-8">
          <div class="col-sm-12 col-md-6 row" style="z-index:100">
            <h4>
              <a href="/service">Service</a>
            </h4>
            <ul class="small">
              <li class="mail">
                <a href="/service">info@mlhandel.de</a>
              </li>
              <li class="phone">123456789</li>
              <li class="noicon">(Mo. bis Fr. von 9 bis 17 Uhr)</li>
              <li>
                <a href="/service/shop">Lieferung und Versand</a>
              </li>
              <li>
                <a href="/service/retouren">Ware zurücksenden</a>
              </li>
              <li>
                <a href="/kontakt">Kontakt</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="col-sm-6 col-md-4">
          <h4>Leistung</h4>
          <ul class="small">
            <li>
              <a href=" ">Zertifiziert</a>
            </li>
            <li>
              <a href=" ">Geld-Zurück-Garantie</a>
            </li>
            <li>
              <a href="/zahlung">Kauf auf Rechnung möglich</a>
            </li>
          </ul>
          <a class="trust160701" href=""></a>
        </div>

        <div class="col-sm-9 margin-top">* Preise inkl. MwSt. zzgl. Versand</div>
      </div>

    </div>
  </div>
  {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
  <div class="copyright text-xs-center m-y-1">
    <div class="static-link-list">
      {% autoescape false %}
        <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
        {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
          <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
        {% else %}
          <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
        {% endif %}
        <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
        <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
        <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
        {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
          <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
        {% endif %}
      {% endautoescape %}
    </div>
  </a>
  <br>
  <small>&copy; Copyright
    {{ "now" | date("Y") }}
    |
    {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
</div>

<div class="postfooter">
  <div class="container">
    <div class="col-sm-8 socials160613">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="col-sm-4 text-right" style="font-weight:bold;">
      #ausliebe
    </div>
  </div>
</div>
</div>
